.ImageWithContent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    min-height: 600px;
    /* max-height: 700px; */
    height: max-content;
}
.ImageWithContent-contents{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.ImageWithContent-background-image {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    /* max-height: 800px; */
}

.ImageWithContent-content {
    max-width: 450px;
    
    
}

.ImageWithContent-heading {
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-family: 'Roboto-bold';
    line-height: 52.73px;
}

.ImageWithContent-text {
    margin: 20px 0;
    font-size: 0.9rem;
    text-align: justify;
    font-family: 'Roboto-normal';
}

.ImageWithContent-buttons {
    display: flex;
    font-family: 'Roboto-medium';
}
.ImageWithContent-image{
    width: min-content;
}
.ImageWithContent-image-hr{
    height: 400px;
}
.ImageWithContent-bulletPoints{
    font-size: 0.9rem;
    font-family: 'Roboto-normal';
}
.ImageWithContent-bulletPoints::before{
    list-style-type: circle;
}

.ImageWithContent-Unlock{
    margin: 35px;
}
.ImageWithContent-text-Mission{
font-weight: 400;
font-size: 36px;
text-align:left;
line-height: 42.19px;
}
.ImageWithContent-bulletPoints-HumanResource{
    font-size: 36px;
    font-weight: 400;
    line-height: 42.19px;
    width: 530px;
    padding-left: 20px;
}
.ImageWithContent-contents-MobileAppPrimary, .ImageWithContent-content-Payroll{
font-weight: 700;
}
.ImageWithContent-MobileAppPrimary{
    width: 501px;
    height: 441px;
    margin: 0 60px;
}
.ImageWithContent-content-MobileAppPrimary,.ImageWithContent-text-Repository{
    text-align: left;
    font-weight: 700;
}
.ImageWithContent-content-Support, .ImageWithContent-content-IssueRegister {
    margin: 0 60px;
    font-weight: 700;
}

/* desktop  */

@media only screen and(min-width:850px)and (max-width:1040px)and (orientation:landscape){
    .ImageWithContent-image{
        transform: scale(0.7);
        margin: 0;
    }
    .ImageWithContent-image-hr{
        transform: scale(0.7);
    }
}
@media only screen and (max-width:851px)and (orientation:landscape){
    .ImageWithContent-image{
        transform: scale(0.6);
        margin: 0;
        position: relative;
       top: -10%;
    }
    .ImageWithContent-image-hr{
        transform: scale(0.6);
        position: relative;
       top: -45px;
    }
    .ImageWithContent-background-image {
        height: 100%;
        
    }
    .ImageWithContent-content {
       position: relative;
       top: -85px
    }
}
/* tablet */
@media only screen and (max-width:1300px)and (orientation:portrait){
    .ImageWithContent-background-image {
        max-height: 600px;
    }
}

@media only screen and (max-width:850px)and (orientation:portrait){
    .ImageWithContent-image{
        transform: scale(0.8);
        
    }
    .ImageWithContent-image-hr{
        transform: scale(0.8);
    }
    .ImageWithContent-background-image {
        max-height: 900px;
    }
}

@media only screen and (max-width:810px)and (orientation:portrait){
    .ImageWithContent-image{
        transform: scale(0.6);
        position: relative;
       top: -85px;
    }
    .ImageWithContent-image-hr{
        transform: scale(0.6);
        position: relative;
    }
    .ImageWithContent-background-image {
        max-height: 700px;
    }
    .ImageWithContent-content {
        position: relative;
        top: -100px
     }
}

@media only screen and (max-width:500px)and (orientation:portrait){
    .ImageWithContent-background-image {
        max-height: 800px;
    }
     .ImageWithContent-heading {
        font-size: 1.8rem
    }
    .tesseract-button-primary,.tesseract-button-outline{
        height: 35px;
    }
    .ImageWithContent-content {
        padding: 0 55px;
     }
     .ImageWithContent-container {overflow: hidden;}
}
@media only screen and (max-width:400px) and (orientation:portrait){
    .ImageWithContent-content {
        padding: 0 85px;
        top: -145px;
     }
     .ImageWithContent-image-hr{
        top: -45px;
    }
    .ImageWithContent-background-image {
       height: 800px;
    }
    .ImageWithContent-container {margin-bottom: 50px;}
}