.Contactus-navbar {
    height: 60px;
    background-color: #0099FF;
}

.Contactus-navbar-close-button {
    transform: scale(1.4);
    filter: invert();
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
}

.Contactus-navbar-left {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.Contactus-navbar-title {
    color: white;
}

.Contactus-section {
    display: flex;
    padding-left: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.Contactus-section-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 1px solid ;
    height: 580px;
    width: 30%;
    background-color: rgba(0, 122, 204, 1);
    border-radius: 8px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.Contactus-section-left-content {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.Contactus-section-left-title {
    color: white;
    font-size: 27px;
    font-weight: bold;
}

.Contactus-section-left-heading {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.Contactus-section-left-para {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.Contactus-section-right {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 40%;
    margin-top: 20px;
    gap: 20px;
    margin-left: 70px;
}

.Contactus-section-form {
    gap: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.Contactus-section-title {
    font-size: 25px;
}

.Contactus-section-form-title {
    font-size: 15px;
}

.Contactus-termsandconditions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Contactus-termsandconditions-title {
    font-size: 13px;
}
.tesseract-checkbox{
    margin-right: 8px;
    cursor: pointer;
}
@media only screen and (max-width:1330px) {
    .Contactus-section-left-img {
        width: 200px;
    }
    .Contactus-section-left {
        height: 580px;
    }
    .Contactus-termsandconditions {
        width: 300px;
    }
}

@media only screen and (max-width:1090px) {
    .Contactus-section {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .Contactus-section {
        padding-left: 0px;
    }
    .Contactus-section-left-img {
        width: 200px;
    }
    .Contactus-section-left {
        height: 580px;
    }
    .Contactus-termsandconditions {
        width: 300px;
    }
}

@media only screen and (max-width:900px) {
    .Contactus-section-left {
        display: none;
    }
    .Contactus-section-right {
        padding-left: 110px;
    }
    .Contactus-termsandconditions {
        width: 300px;
    }
}

@media only screen and (max-width:600px) {
    .Contactus-section-right {
        height: 1000px;
    }
    .Contactus-section-form {
        grid-template-columns: 5fr;
    }
    .Contactus-termsandconditions {
        width: 300px;
    }
}

@media only screen and (max-width:428px) {
    .Contactus-section-right {
        height: 900px;
        padding-left: 10px;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width:350px) {
    .Contactus-section-right {
        margin-left: 40px;
    }
    .Contactus-termsandconditions {
        width: 200px;
    }
}