.footer-container {
    background-image: url("../../Assets/footerBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    background-position: bottom;
    padding: 100px 15%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    overflow:hidden;
}

.footer-logoicon {
    width: 64px;
}

.footer-top {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

#footer-mid-input {
    width: 435px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    padding: 0 25px;
}

#footer-mid-input::placeholder {
    font-size: large;
}

.footer-mid-button {
    background-color: rgba(0, 122, 204, 1);
    width: 103px;
    height: 50px;
    border: 0;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
    font-family: Roboto-medium;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}

.footer-mid-button:hover {
    background-color: rgba(0, 122, 204, 0.8);
}

.footer-mid-text {
    margin-bottom: 10px;
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
}
.footer-mid-textbox {
    display: flex;
    flex-wrap: wrap;
}
.footer-bottom {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px 0px;
    
}

.footer-heading {
    color: white;
    /* font-weight: bold; */
    font-size: 1.1rem;
    margin: 15px 0;
    font-family: Roboto-medium;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.footer-items {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    cursor: pointer;
    font-family: Roboto-medium;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}

.footer-icons {
    margin-right: 10px;
}

.footer-mid {
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.footer-copyrights {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-medium;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}

/*--- Tablet ---*/

/* @media only screen and (max-width: 750px) {
    .footer-bottom {
        margin-left: 50px;
    }
    .footer-mid-textbox {
        display: flex;
        flex-wrap: wrap;
    }
    #footer-mid-input {
        width: 400px;
    }
} */


/*--- Mobile -- */
@media screen and (max-width: 790px){
    .footer-mid-text {
        font-size: 15px;
    }
    #footer-mid-input {
        width: 200px;
        height: 40px;
        
    }
    .footer-mid-button{
        height: 40px;
        font-size: 0.8rem;
        width: 80px;
    }
}

@media screen and (max-width: 670px) {
    
    /* .footer-mid-textbox {
        width: 450px;
    } */
    .footer-bottom {
        grid-template-columns: repeat(auto-fit, 150px);
        margin: 25px 0px;
        max-width: 360px;
    }
    /* .footer-mid-textbox {
        
        display: flex;
        flex-wrap: wrap;
    } */
    .footer-heading{
        margin: 12px 0;
    }
}
@media screen and (max-width: 370px) {
    
    .footer-mid-text {
        font-size: 13px;
    }
    #footer-mid-input {
        width: 150px;
        height: 30px;
        
    }
    .footer-mid-button{
        height: 30px;
        font-size: 0.8rem;
        width: 80px;
    }
    .footer-bottom {
        font-size: 14px;
    }
    /* .footer-mid-textbox {
        
        display: flex;
        flex-wrap: wrap;
    } */
    .footer-heading{
        font-size: 14px;
    }
    .footer-mid{
        position: relative;
        right: 10%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 460px) {
    .footer-container {
        height: 730px;
    }

    .footer-copyrights {
        color: white;
        display: flex;
        justify-content: start;
        align-items: start;
    }
}