.footer-container {
    background-image: url("../../Assets/footerBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    background-position: bottom;
    padding: 100px 15%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    overflow:hidden;
}

.footer-logoicon {
    width: 64px;
}

.footer-top {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

#footer-mid-input {
    width: 435px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    padding: 0 25px;
}

#footer-mid-input::placeholder {
    font-size: large;
}

.footer-mid-button {
    background-color: rgba(0, 122, 204, 1);
    width: 103px;
    height: 50px;
    border: 0;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
}

.footer-mid-button:hover {
    background-color: rgba(0, 122, 204, 0.8);
}

.footer-mid-text {
    margin-bottom: 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
.footer-mid-textbox {
    display: flex;
    flex-wrap: wrap;
}
.footer-bottom {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px 0px;
    
}

.footer-heading {
    color: white;
    /* font-weight: bold; */
    font-size: 1.1rem;
    margin: 15px 0;
}

.footer-items {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    cursor: pointer;
}

.footer-icons {
    margin-right: 10px;
}

.footer-mid {
    display: flex;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}


/*--- Tablet ---*/

@media only screen and (min-width: 428px) and (max-width: 834px) {
    .footer-bottom {
        margin-left: 50px;
    }
    /* .footer-mid-textbox {
        display: flex;
        flex-wrap: wrap;
    } */
    #footer-mid-input {
        width: 400px;
    }
}


/*--- Mobile -- */

@media screen and (max-width: 428px) {
    .footer-mid-text {
        font-size: 15px;
    }
    #footer-mid-input {
        width: 200px;
        height: 40px;
        
    }
    .footer-mid-button{
        height: 40px;
        font-size: 0.8rem;
        width: 80px;
    }
    /* .footer-mid-textbox {
        width: 450px;
    } */
    .footer-bottom {
        grid-template-columns: repeat(auto-fit, 150px);
        margin: 25px 0px;
        max-width: 360px;
    }
    /* .footer-mid-textbox {
        
        display: flex;
        flex-wrap: wrap;
    } */
    .footer-heading{
        margin: 12px 0;
    }
}