.Pricing-Section-1 {
    height:max-content;
    background-color: #6600FF;
    padding: 80px 20vW;
    color: white;
    text-align: center;
}

.Pricing-Section-2 {
    margin: 100px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}
.pricingHeading{
    margin: 25px 0;
    font-size: 1.8rem;
    font-family: "Roboto-bold";
}
.pricingText{
    max-width: 500px;
    text-align: justify;
    margin: 0 auto;
    font-size: 1rem;
    font-family: 'Roboto-medium';
}