.bussiness-heading {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin: 45px 0;
}


/* .business-card-item {
    border: 1px solid gray;
    height: 150px;
    width: 200px;
} */

#business-card-img {
    height: 210px;
}

.business-card-image {
    height: 180px;
}

.bussiness-cards {
    display: flex;
    padding: 0px 120px;
    justify-content: space-evenly;
    margin-bottom: 100px;
    flex-wrap: wrap;
    row-gap: 40px;
    
}

@media only screen and (max-width: 740px){
    .bussiness-heading {
        font-size: 1.8rem;
    }
    .business-card-image {
        height: 100px;
    }
}

@media only screen and (max-width: 400px){
    .business-card-image {
        height: 100px;
        max-width: 320px;
    }
}