.topNav-container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}

.topnav-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.topnav-logoicon {
    width: 64px;
}

#topnav-search {
    border: 0;
    border-radius: 25px;
    width: 350px;
    height: 50px;
    font-size: large;
    padding-left: 35px;
}

.topnav-searchicon {
    width: 25px;
    position: relative;
    left: -50px;
    top: 5px;
}

.topnav-button-1 {
    width: 150px;
    height: 50px;
    padding: 10px 10px;
    font-size: 0.84rem;
    margin-right: 15px;
}

.topnav-button-2 {
    width: 150px;
    height: 50px;
    padding: 12px 24px;
    font-size: 0.84rem;
    margin-right: 15px;
}

.buttons {
    display: flex;
}

.topnav-hamberger {
    display: none;
}

@media only screen and (min-width: 720px) {
    #topnav-search {
        width: 250px;
        font-size: medium;
    }
    .topnav-searchicon {
        height: 18px;
        width: 20px;
        margin-left: 8px;
        top: 0px;
    }
    .topnav-button-1 {
        width: 120px;
    }
    .topnav-button-2 {
        width: 100px;
    }
}


/*--- Mobile --*/

@media screen and (max-width: 500px) {
    .topnav-title {
        display: none;
    }
    #topnav-search {
        display: none;
    }
    .buttons {
        margin-right: 60px;
    }
    .topnav-button-1 {
        font-size: 11px;
        width: 113px;
        height: 40px;
    }
    .topnav-button-2 {
        border-radius: 5px;
        font-size: 12px;
        width: 100px;
        height: 40px;
    }
    .topnav-searchicon {
        filter: invert();
        width: 20px;
        top: 5px;
        left: 260px;
        cursor: pointer;
    }
    .topnav-hamberger {
        display: inline;
        width: 30px;
        height: 40px;
        position: absolute;
        top: 25px;
        right: 10px;
        cursor: pointer;
    }
}