.Staff-img,.Payroll-img,.Mission-img,.NDIS-img,.Participant-img,.Assignments-img{
    width: 500px;
    margin: 0 60px;
    border: 0;
    border-radius: 15px;
}
.Empower-img {
    width: 381px;
    height: 397.84px;
    margin: 0 60px;
}
.HumanResource-img {
    margin: 0px 100px 0px 0px;
}
.ImageWithContent-Container-Products{
    background-image: url('../../Assets/BackgroundGradiant.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Products-img{
    width: 400px;
}
.Payroll-img{
    width: 406px;
    height: 456px;
}
@media screen and (min-width:1081px)and (orientation:landscape) {
    .ImageWithContent-Container-Participant{
        margin-top: 225px;
    }
}
@media screen and (max-width:1070px)and (orientation:portrait) {
    .Staff-img,.Empower-img,.Payroll-img,.Mission-img,.HumanResource-img,.NDIS-img,.Participant-img,.Assignments-img{
        transform: scale(0.7);
    }
    .ImageWithContent-background-image-NDIS{
        max-height: 750px;
    }
    .ImageWithContent-background-image-Assignments{
        max-height: 650px;
    }
}
@media only screen and (max-width:810px)and (orientation:portrait){
    .Staff-img,.Empower-img,.Payroll-img,.Mission-img,.HumanResource-img,.NDIS-img,.Participant-img,.Assignments-img{
        transform: scale(0.5);
    }
    .ImageWithContent-background-image-Mission{
        max-height: 650px;
    }
    .ImageWithContent-background-image-NDIS{
        max-height: 650px;
    }
    .ImageWithContent-background-image-Assignments{
        max-height: 550px;
    }
}
@media only screen and (max-width:500px)and (orientation:portrait){
 .NDIS-img{position: relative;
    top: -35px;
}   
}
@media only screen and (max-width:400px) and (orientation:portrait){
    .ImageWithContent-content-Mission{
        position: relative;
        top: -75px;
    }
    .ImageWithContent-content-NDIS{
        position: relative;
        top: -75px;
    }
    .ImageWithContent-content-Assignments{
        position: relative;
        top: -75px;
    }
    .Assignments-img{
        position: relative;
        top: -30px;
    }

}