

.rectangle{
    position: absolute;
    top: 65%;
    left: -20px;
}
.rectangle2{
    position: absolute;
    z-index: -10;
    top:180%;
    right:0;
}
.rectangle3{
    position: absolute;
    z-index: -10;
    top:150%;
    left:33%;
}