
.section-1-type{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    height: 800px;
    background-image: url("../../Assets/sectionBackground.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.section-card-item{
    background-color: white;
    width: 250px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
}
.card-text{
    width: 200px;
    margin: 15px 0;
}
.card-person{
    margin: 10px 0;
    display: flex;
}
.card-person-name{
    color: rgba(35, 166, 240, 1);
    font-weight: bold;
}
.section-cards{
    display: flex;
}
.inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 
    40px;
}
.section-text{
    color: white;
    max-width: 350px;
}
.clients{
    color: rgba(35, 166, 240, 1);
}
.section-header{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.bussiness-heading{
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 85px;
}
.business-card-item{
    border: 1px solid gray;
    height: 150px;
    width: 200px;
}
.bussiness-cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.rectangle{
    position: absolute;
    top: 65%;
    left: -20px;
}
.rectangle2{
    position: absolute;
    z-index: -10;
    top:180%;
    right:0;
}
.rectangle3{
    position: absolute;
    z-index: -10;
    top:150%;
    left:33%;
}