@font-face {
    font-family: "Roboto";
    src: local("Roboto"),url('./App/Assets/Roboto/Roboto-Black.ttf') format("trueType");
}
@font-face {
    font-family: "Roboto-bold";
    src: local("Roboto-bold"),url('./App/Assets/Roboto/Roboto-Bold.ttf') format("trueType");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto-medium";
    src: local("Roboto-medium"),url('./App/Assets/Roboto/Roboto-Medium.ttf') format("trueType");
}
@font-face {
    font-family: "Roboto-normal";
    src: local("Roboto-normal"),url('./App/Assets/Roboto/Roboto-Regular.ttf') format("trueType");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-light";
    src: local("Roboto-light"),url('./App/Assets/Roboto/Roboto-Light.ttf') format("trueType");
    font-weight: light;
}

body {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

.tesseract-button-primary{
    color: white;
    width: 165px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 122, 204, 1);
    border: 0;
    /* font-family: 'Roboto-medium'; */
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}
.tesseract-button-primary:hover,.tesseract-button-outline:hover{
    opacity: 0.7;
}
.tesseract-button-outline{
    color: white;
    width: 165px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    /* font-family: 'Roboto-medium'; */
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    padding: 10px 0;
}

@media only screen and (max-width: 428px) {
    .tesseract-button-primary{
        color: white;
        width: 130px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(0, 122, 204, 1);
        border: 0;
        font-size: 0.8rem;
    }
    .tesseract-button-outline{
        color: white;
        width: 135px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid white;
        font-size: 0.8rem;
    }
   
}
.page-header{
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('./App/Assets/BackgroundGradiant.png');
}
.page-header-nav{
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('./App/Assets/BackgroundGradiant.png');
    background-position-y: top -90px;
    position: sticky;
    z-index: 100;
    top: 0px;
}